@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #141034;
    overflow: hidden;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 98.5%;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    position: relative;
    max-width: 200px;
    padding: 20px 25px;

}
header .navegation ul{
    position: relative;
    display: flex;
}
header .navegation  li{
    list-style: none;
}
header .navegation li a{
    display: inline-block;
    margin-top: 0px;
    color: aliceblue;
    font-weight: 500;
    text-decoration: none;
    font-size: 17px;
    margin-left: 20px;
    border-radius: 5px;
    transition: 0.3;
    padding: 8px 15px;
}
header .navegation li a:hover{
    background-color: #3f3f65;
    color: aliceblue
}
.container{
    position: center;
    width: 750px;
    height: 650px;
    background-color: #141034;
    border-radius: 15px;
    box-shadow: 0px 0px 50px #73f340;
    margin: 2rem auto;
    overflow: hidden;
}

.container .images{
    display: flex;
    width: 100%;
    margin-left: 2px;
    margin-top: -5px;
}
.container .images img{
    background-color: #141034;
    height: 100%;
    width: 100%;
}
.container .images input{
    display: none;
}
.container .dots{
    position:absolute;
    display: flex;
    justify-content: center;
    margin: 300px;
    margin-top: 15px;
}
.container .dots label{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid aliceblue 3px;
    cursor: pointer;
    transition: all 0.4s ease;
    margin: 5px;
}
.container .dots label:hover {background: aliceblue;}
#img1:checked ~ .m1 {
    margin-left: 0;
}
#img2:checked ~ .m2 {
    margin-left: -100%;
}
#img3:checked ~ .m3 {
    margin-left: -200%;
}
#img4:checked ~ .m4 {
    margin-left: -300%;
}
#img5:checked ~ .m5 {
    margin-left: -400%;
}
