@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #141034;
    overflow: hidden;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 98.5%;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    position: relative;
    top: -42px;
    max-width: 200px;
    padding: 20px 25px;

}
header .navegation ul{
    left: 0px;
    top: -45px;
    position: relative;
    display: flex;
}
header .navegation  li{
    list-style: none;
}
header .navegation li a{
    display: inline-block;
    margin-top: 0px;
    color: aliceblue;
    font-weight: 500;
    text-decoration: none;
    font-size: 17px;
    margin-left: 20px;
    border-radius: 5px;
    transition: 0.3;
    padding: 8px 15px;
}
header .navegation li a:hover{
    background-color: #3f3f65;
    color: aliceblue
}
.content{
    position: relative;
    left: -4%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .text{
    position: relative;
    max-width: 640px;
    margin-right: 40px;
}
.content .text h2{
    color: aliceblue;
    font-size: 3em;
    margin-bottom: 0px;
    line-height: 2.6em;
    font-weight: 1200em;
}
.content .text h2 span{
    position: relative;
    -webkit-text-stroke: 0.1vw #383d52;
    text-transform: uppercase;
    font-size: 3.5em;
    color: #141034;
    text-shadow: 0px 0px 12px #000000;
}
.content .text h2 span::before{
    content: attr(data-text);
    position: absolute;
    top: 24%;
    left: 0;
    width: 0;
    height: 100%;
    color: #70bf52;
    -webkit-text-stroke: 0vw #383d52;
    overflow: hidden;
    animation: animate 30s linear infinite;
}
@keyframes animate 
{
    0%,10%,100%
    {
        width: 0%;
    }
    10%,30%,70%
    {
        width: 100%;
    }
}

.content .text p{
    text-align: justify;
    color: rgba(240, 248, 255, 0.685);
    font-size: 1.1em;
    line-height: 1.5em;
}
.content .text p span2{
    font-size: 1.1em;
    color: aliceblue;
    opacity: .9;
}
.content .text a{
    display: inline-block;
    margin-top: 50px;
    padding: 10px 25px;
    background: #3f3f65;
    color: aliceblue;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
.content .text a:hover{
    transform: translateY(-10px);
}
.video{
    position: relative;
    display: flex;
    margin-left: -15px;
    bottom: 2px;
    width: 650px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px #73f340;
}
.icons{
    position: absolute;
    bottom: 5%;
    left: 76%;
    width: 10%;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons li{
    list-style: none;
}
.icons li a{
    display: inline-block;
    margin-left: 50px;
    background: #3f3f65;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition:  0.3s ease-in-out;
}
.icons li a:hover{
    background: #70bf52;
    transform: translateY(-10px);
}
.icons li a img{
    filter: invert(1);
    transform: scale(0.5);
}
